@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

:root{
  height: 100%;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center px-6 outline-none bg-blue-900 hover:bg-blue-500 rounded-lg text-white py-8 xl:px-12 xl:text-2xl text-lg font-bold my-4
}
/* END: General styles */


.hero {
  @apply flex xl:flex-row flex-col gap-5 xl:gap-10 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[52px] sm:text-[48px] text-[32px] font-extrabold leading-tight;
}

.hero__subtitle {
  @apply lg:text-[27px] text-[20px] font-light mt-5;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex xl:justify-end xl:items-end items-center justify-center h-[600px] w-full ;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.view-hospital__card-div {
  @apply relative z-10 bg-neutral-100 rounded-xl border-stone-700 text-center text-black text-[15px]  font-semibold leading-10 w-[300px] max-w-[413px]
}

.nav-links{
  @apply flex flex-col space-y-6 border-r border-gray-200
}
.nav-links a {
  @apply hover:text-blue-900 transition-all duration-300 ease-in-out text-[18px] rounded-md px-6
}
.sidebar-link {
  @apply text-black font-bold leading-loose
}

label {
  @apply text-black text-[25px] font-medium leading-9
}

.input-header {
  @apply   text-[14px] sm:text-[20px] font-medium text-center leading-10 text-black
}

.navbar-links{
  @apply flex lg:text-[16px] font-medium leading-10 items-center gap-2 py-4 text-black transition-colors duration-300 hover:text-blue-900 focus:bg-blue-50 focus:outline-none focus-visible:outline-none lg:px-8
}